//----------------------------------------------------//
// SIMULADO                                           //
// Testa a implementação do novo comando vm de copy   //
//----------------------------------------------------//

add3